<h1>Listado de productos</h1>

<form method="post">
    <label>Direccion de envio</label>
    <input type="text" name="direccion"/>
    <button class="btn btn-warning">Realizar pedido</button>
    <ul class="list-group">
        <li class="list-group-item">
            <input type="checkbox" name="producto" value="Tesla 40.000€">Tesla 40.000€</input>
        </li>
        <li class="list-group-item">
            <input type="checkbox" name="producto" value="IPhone 25 5.000€">IPhone 25 5.000€</input>
        </li>
        <li class="list-group-item">
            <input type="checkbox" name="producto" value="Ordenador Gaming 2.500€">Ordenador Gaming 2.500€</input>
        </li>
        <li class="list-group-item">
            <input type="checkbox" name="producto" value="Arbitros Negreira 900.000€">Arbitros Negreira 900.000€</input>
        </li>
    </ul>
</form>